#ansible.cfg
[defaults]
# Inventory file path
inventory = ./inventory.ini

# Roles path (multiple directories can be specified)
#roles_path = /path/to/roles_dir1:/path/to/roles_dir2
roles_path = ./roles

#; SSH connection settings
#private_key_file = /path/to/ssh/private_key
#remote_user = myuser
#remote_port = 22

# Timeouts
timeout = 60
playbook_timeout = 120

# Verbosity and logging
verbosity = 1
log_path = ./ansible.log

# Privilege escalation settings
# Uncomment and modify these settings if privilege escalation is needed
# become = yes
# become_method = sudo
# become_user = root

# Environment variables
# Uncomment and specify environment variables if needed
# env = MYVAR1=myvalue1 MYVAR2=myvalue2
